body{
    height: 100vh !important;
    /* background-color: red; */
    /* overflow: hidden; */
}
.card{
    padding-top: 20px;
    padding-bottom: 20px;
}
.card iframe{
    min-height: 1200px;
    max-width: 100%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
a.go-back{
    display: block;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    background-color: #01a9ac;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}
@media (max-width: 767px) {
    .card iframe{
        min-height: 400px;
        width: 100%;
    }
}