.statustic-card .card-block {
    position: relative
}

.statustic-card .card-block .progress {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 5px;
    overflow: visible
}

.statustic-card .card-block .progress .progress-bar {
    position: relative
}

.statustic-card .card-block .progress .progress-bar:before {
    content: "";
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    background: inherit
}

.statustic-card .card-block .progress .progress-bar.bg-c-blue:before {
    -webkit-animation: blue-blink-bar 0.5s linear infinite;
    animation: blue-blink-bar 0.5s linear infinite
}

.statustic-card .card-block .progress .progress-bar.bg-c-green:before {
    -webkit-animation: green-blink-bar 0.5s linear infinite;
    animation: green-blink-bar 0.5s linear infinite
}

.statustic-card .card-block .progress .progress-bar.bg-c-pink:before {
    -webkit-animation: pink-blink-bar 0.5s linear infinite;
    animation: pink-blink-bar 0.5s linear infinite
}

.statustic-card .card-block .progress .progress-bar.bg-c-yellow:before {
    -webkit-animation: yellow-blink-bar 0.5s linear infinite;
    animation: yellow-blink-bar 0.5s linear infinite
}

@-webkit-keyframes blue-blink-bar {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(1, 169, 172, 0.1);
        box-shadow: 0 0 0 0 rgba(1, 169, 172, 0.1)
    }

    50% {
        -webkit-box-shadow: 0 0 0 6px rgba(1, 169, 172, 0.3);
        box-shadow: 0 0 0 6px rgba(1, 169, 172, 0.3)
    }
}

@keyframes blue-blink-bar {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(1, 169, 172, 0.1);
        box-shadow: 0 0 0 0 rgba(1, 169, 172, 0.1)
    }

    50% {
        -webkit-box-shadow: 0 0 0 6px rgba(1, 169, 172, 0.3);
        box-shadow: 0 0 0 6px rgba(1, 169, 172, 0.3)
    }
}

@-webkit-keyframes green-blink-bar {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(10, 194, 130, 0.1);
        box-shadow: 0 0 0 0 rgba(10, 194, 130, 0.1)
    }

    50% {
        -webkit-box-shadow: 0 0 0 6px rgba(10, 194, 130, 0.3);
        box-shadow: 0 0 0 6px rgba(10, 194, 130, 0.3)
    }
}

@keyframes green-blink-bar {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(10, 194, 130, 0.1);
        box-shadow: 0 0 0 0 rgba(10, 194, 130, 0.1)
    }

    50% {
        -webkit-box-shadow: 0 0 0 6px rgba(10, 194, 130, 0.3);
        box-shadow: 0 0 0 6px rgba(10, 194, 130, 0.3)
    }
}

@-webkit-keyframes pink-blink-bar {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(235, 52, 34, 0.1);
        box-shadow: 0 0 0 0 rgba(235, 52, 34, 0.1)
    }

    50% {
        -webkit-box-shadow: 0 0 0 6px rgba(235, 52, 34, 0.3);
        box-shadow: 0 0 0 6px rgba(235, 52, 34, 0.3)
    }
}

@keyframes pink-blink-bar {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(235, 52, 34, 0.1);
        box-shadow: 0 0 0 0 rgba(235, 52, 34, 0.1)
    }

    50% {
        -webkit-box-shadow: 0 0 0 6px rgba(235, 52, 34, 0.3);
        box-shadow: 0 0 0 6px rgba(235, 52, 34, 0.3)
    }
}

@-webkit-keyframes yellow-blink-bar {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(254, 147, 101, 0.1);
        box-shadow: 0 0 0 0 rgba(254, 147, 101, 0.1)
    }

    50% {
        -webkit-box-shadow: 0 0 0 6px rgba(254, 147, 101, 0.3);
        box-shadow: 0 0 0 6px rgba(254, 147, 101, 0.3)
    }
}

@keyframes yellow-blink-bar {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(254, 147, 101, 0.1);
        box-shadow: 0 0 0 0 rgba(254, 147, 101, 0.1)
    }

    50% {
        -webkit-box-shadow: 0 0 0 6px rgba(254, 147, 101, 0.3);
        box-shadow: 0 0 0 6px rgba(254, 147, 101, 0.3)
    }
}

.widget-statstic-card {
    position: relative;
    overflow: hidden
}

.widget-statstic-card .st-icon {
    color: #fff;
    font-size: 23px;
    padding: 40px 40px 20px 20px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    right: -30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.widget-statstic-card h2 {
    font-weight: 600;
    display: inline-block
}

.widget-statstic-card span {
    border-radius: 30px;
    padding: 5px 20px;
    color: #fff;
    font-weight: 600
}

.widget-statstic-card:hover .st-icon {
    font-size: 50px
}

.social-card {
    color: #fff;
    overflow: hidden
}

.social-card .social-icon {
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 22px 23px
}

.social-card .download-icon {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    height: 125px;
    width: 125px;
    right: -125px;
    font-size: 35px;
    padding: 40px 22px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.social-card:hover .download-icon {
    right: -60px
}

.widget-visitor-card {
    overflow: hidden;
    padding: 10px 0
}

.widget-visitor-card i {
    color: #fff;
    font-size: 80px;
    position: absolute;
    bottom: -10px;
    opacity: 0.3;
    left: -10px;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.widget-visitor-card:hover i {
    -webkit-transform: rotate(0deg) scale(1.4);
    -ms-transform: rotate(0deg) scale(1.4);
    transform: rotate(0deg) scale(1.4);
    opacity: 0.5
}

.app-design .btn {
    padding: 5px 8px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px
}

.app-design .team-section img {
    width: 35px;
    border-radius: 5px
}

.app-design .progress-box p {
    margin-bottom: 0
}

.app-design .progress-box .progress {
    width: calc(100% - 80px);
    height: 8px;
    text-align: center;
    margin: 0 auto;
    background-color: #E5E5E5;
    border-radius: 30px;
    position: relative;
    overflow: inherit
}

.app-design .progress-box .progress .progress-bar {
    border-radius: 30px
}

.app-design .progress-box .progress .progress-bar label {
    position: absolute;
    top: -24px;
    right: 0;
    color: #222;
    font-weight: 600;
    font-size: 13px
}

.widget-card-1 {
    margin-top: 20px;
    text-align: right
}

.widget-card-1 .card1-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -15px;
    font-size: 35px;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.widget-card-1 .card-block>span {
    color: #919aa3
}

.widget-card-1 h4 {
    font-weight: 400;
    margin-top: 10px
}

.widget-card-1:hover .card1-icon {
    top: -25px
}

.user-widget-card {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    color: #fff
}

.user-widget-card .card-block {
    padding: 1.95rem 1.25rem 0.85rem
}

.user-widget-card .card1-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -15px;
    left: calc(50% - 20px);
    font-size: 20px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    color: #fff
}

.user-widget-card h4 {
    font-weight: 400;
    margin-top: 10px
}

.user-widget-card .more-info {
    background: #fff;
    padding: 5px 15px;
    border-radius: 15px;
    position: absolute;
    left: calc(50% - 45px);
    -webkit-box-shadow: 0 1px 14px -5px #000;
    box-shadow: 0 1px 14px -5px #000
}

.order-card {
    color: #fff;
    overflow: hidden
}

.order-card .card-icon {
    position: absolute;
    right: -17px;
    font-size: 100px;
    top: 20px;
    opacity: 0.5
}

.user-card2 .risk-rate {
    display: inline-block;
    margin: 0 auto
}

.user-card2 .risk-rate span {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 6px dashed #d6d6d6;
    border-top-color: #fe9365;
    border-bottom-color: transparent;
    padding: 45px;
    display: block;
    position: relative
}

.user-card2 .risk-rate span:after {
    content: "";
    width: 90px;
    height: 90px;
    background-color: rgba(254, 147, 101, 0.5);
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1
}

.user-card2 .risk-rate span b {
    font-size: 20px;
    color: #fff;
    z-index: 2;
    position: relative
}

.table-card .card-block {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.table-card .card-block .table>thead>tr>th {
    border-top: 0
}

.table-card .card-block .table .chk-option {
    vertical-align: middle;
    width: 30px;
    display: inline-block
}

.table-card .card-block .table .chk-option .checkbox-fade,
.table-card .card-block .table .chk-option .checkbox-fade .cr,
.table-card .card-block .table .chk-option .checkbox-zoom,
.table-card .card-block .table .chk-option .checkbox-zoom .cr {
    margin-right: 0
}

.table-card .card-block .table label {
    margin-bottom: 0
}

.table-card .card-block .table tr td:first-child,
.table-card .card-block .table tr th:first-child {
    padding-left: 20px
}

.table-card .card-block .table tr td:last-child,
.table-card .card-block .table tr th:last-child {
    padding-right: 20px
}

#app-sale1,
#app-sale2,
#app-sale3,
#app-sale4 {
    height: 46px !important;
    width: 100px !important
}

.user-activity-card .u-img {
    position: relative
}

.user-activity-card .u-img .cover-img {
    width: 40px;
    height: 40px
}

.user-activity-card .u-img .profile-img {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -5px;
    right: -5px
}

.wather-card {
    overflow: hidden
}

.wather-card .nature-card {
    position: relative;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #fea57e), to(#fe9365));
    background: linear-gradient(#fea57e 60%, #fe9365 100%);
    overflow: hidden
}

.wather-card .nature-card .main-img {
    width: 100%
}

@media only screen and (min-width: 1400px) {
    .wather-card .nature-card .main-img {
        height: 260px
    }
}

.wather-card .nature-card .bottom-img {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%
}

.wather-card .nature-card .snow1,
.wather-card .nature-card .snow2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.wather-card .nature-card .snow1 {
    -webkit-animation: sparcle 2.1s linear infinite;
    animation: sparcle 2.1s linear infinite
}

.wather-card .nature-card .snow2 {
    -webkit-animation: sparcle 2.1s linear infinite;
    animation: sparcle 2.1s linear infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s
}

.wather-card .nature-card .nature-cont {
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%
}

@-webkit-keyframes sparcle {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }

    20% {
        opacity: 1;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }

    50% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }

    80% {
        opacity: 1;
        -webkit-transform: translateY(5px);
        transform: translateY(5px)
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
}

@keyframes sparcle {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }

    20% {
        opacity: 1;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }

    50% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }

    80% {
        opacity: 1;
        -webkit-transform: translateY(5px);
        transform: translateY(5px)
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
}

.user-card .usre-image {
    position: relative;
    display: inline-block;
    margin: 0 auto
}

.user-card .usre-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #01a9ac;
    padding: 4px
}

.user-card .usre-image:before {
    content: "\e83f";
    font-family: 'feather';
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    background-color: #0ac282;
    border-radius: 50%;
    padding: 0 3px
}

.user-card .usre-image:after {
    content: "Permenant";
    position: absolute;
    bottom: -15px;
    left: calc(100% - 27px);
    color: #fff;
    background-color: #01a9ac;
    border-radius: 5px;
    padding: 0 3px
}

.user-card .btn {
    margin: 10px auto 15px
}

.feed-card h6 {
    margin-top: 7px
}

.feed-card .feed-icon {
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 8px
}

.latest-update-card .card-block {
    padding-top: 0
}

.latest-update-card .card-block .latest-update-box {
    position: relative
}

.latest-update-card .card-block .latest-update-box:after {
    content: "";
    position: absolute;
    background: #ddd;
    height: 100%;
    width: 1px;
    top: 0;
    left: 110px;
    z-index: 1
}

.latest-update-card .card-block .latest-update-box .update-meta {
    z-index: 2;
    min-width: 160px
}

.latest-update-card .card-block .latest-update-box .update-meta .update-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 12px 13px;
    font-size: 16px;
    color: #fff;
    margin-left: 10px
}

@media only screen and (max-width: 575px) {
    .latest-update-card .card-block .latest-update-box:after {
        display: none
    }

    .latest-update-card .card-block .latest-update-box .update-meta {
        z-index: 2;
        min-width: 100%;
        text-align: left !important;
        margin-bottom: 15px;
        border-top: 1px solid #f1f1f1;
        padding-top: 15px
    }
}

.latest-activity-card .card-block {
    padding-top: 0
}

.latest-activity-card .card-block .latest-update-box {
    position: relative
}

.latest-activity-card .card-block .latest-update-box .update-meta {
    z-index: 2;
    min-width: 160px
}

.latest-activity-card .card-block .latest-update-box .update-meta .update-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 12px 13px;
    font-size: 16px;
    color: #fff;
    margin-left: 10px
}

@media only screen and (max-width: 575px) {
    .latest-activity-card .card-block .latest-update-box .update-meta {
        z-index: 2;
        min-width: 100%;
        text-align: left !important;
        margin-bottom: 15px;
        border-top: 1px solid #f1f1f1;
        padding-top: 15px
    }
}

.latest-activity-card .table td {
    vertical-align: middle
}

.per-task-card .card-block {
    padding: 0
}

.per-task-card .per-task-block {
    margin-left: 0;
    margin-right: 0
}

.per-task-card .per-task-block>div {
    padding-top: 20px;
    padding-bottom: 20px
}

.per-task-card .per-task-block>div:nth-child(odd) {
    padding-left: 0
}

.per-task-card .per-task-block>div:nth-child(even) {
    background-color: rgba(1, 169, 172, 0.1);
    padding-right: 0
}

#monthly-graph .amcharts-graph-g2 .amcharts-graph-stroke {
    stroke-linejoin: round;
    stroke-linecap: round;
    -webkit-animation: am-moving-dashes 1s linear infinite;
    animation: am-moving-dashes 1s linear infinite
}

#monthly-graph .lastBullet {
    -webkit-animation: am-pulsating 1s ease-out infinite;
    animation: am-pulsating 1s ease-out infinite
}

#monthly-graph .amcharts-graph-column-front {
    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out
}

#monthly-graph .amcharts-graph-column-front:hover {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    fill-opacity: 0.4
}

#monthly-graph .amcharts-graph-g3 {
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 500%;
    -webkit-animation: am-draw 40s;
    animation: am-draw 40s
}

@-webkit-keyframes am-moving-dashes {
    100% {
        stroke-dashoffset: -31px
    }
}

@keyframes am-moving-dashes {
    100% {
        stroke-dashoffset: -31px
    }
}

@-webkit-keyframes am-pulsating {
    0% {
        stroke-opacity: 1;
        stroke-width: 0
    }

    100% {
        stroke-opacity: 0;
        stroke-width: 50px
    }
}

@keyframes am-pulsating {
    0% {
        stroke-opacity: 1;
        stroke-width: 0
    }

    100% {
        stroke-opacity: 0;
        stroke-width: 50px
    }
}

@-webkit-keyframes am-draw {
    0% {
        stroke-dashoffset: 500%
    }

    100% {
        stroke-dashoffset: 0
    }
}

@keyframes am-draw {
    0% {
        stroke-dashoffset: 500%
    }

    100% {
        stroke-dashoffset: 0
    }
}

.quater-card .progress {
    height: 4px
}

.card.social-network p {
    line-height: 1.6
}

#task-container ul {
    overflow: hidden
}

#task-container .task-headline {
    display: none;
    color: #666666;
    border-bottom: 1px solid #C8C7BB;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 1.6em;
    position: relative
}

#task-container .task-headline:before {
    height: 1px;
    width: 100%;
    background: #FFF;
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0
}

#task-container .nothing-message {
    height: 160px;
    color: #666;
    background-size: 15%
}

#task-container li {
    float: left;
    width: 49%;
    overflow: auto;
    height: auto;
    min-height: 10px;
    background: #FFF;
    display: inline-block;
    padding: 20px;
    border: 1px solid #CCC;
    color: #666;
    border-top: 9px solid #01a9ac;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 2%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative
}

#task-container li:nth-child(even) {
    margin-right: 0
}

#task-container li:hover {
    opacity: 1;
    border-top: 9px solid #e0e0e0
}

#task-container li.complete {
    opacity: 1;
    border-top: 9px solid #eb3422;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s
}

#task-container li.complete:before {
    background: url("../images/complete.png") no-repeat;
    position: absolute;
    top: 5px;
    right: 5px;
    content: "";
    width: 55px;
    height: 55px;
    background-size: 100%
}

#task-container li.complete:hover {
    border-top: 9px solid #e0e0e0;
    opacity: 1
}

#task-container li.complete p {
    text-decoration: line-through
}

#task-container p {
    line-height: 1.6em;
    text-align: left
}

.add-line.complete {
    text-decoration: line-through
}

.task-panel .to-do-label {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px
}

.task-panel .to-do-label:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding: 0
}

.to-do-list {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px
}

.to-do-list i {
    color: #ccc;
    font-size: 17px;
    opacity: 0
}

.to-do-list:last-child {
    border: none;
    padding: 0;
    margin: 0
}

.to-do-list:hover i {
    opacity: 1;
    -webkit-transition: opacity ease-in 0.3s;
    transition: opacity ease-in 0.3s
}

.to-do-list p {
    display: inline-block
}

.to-do-label .checkbox-fade {
    display: block
}

.to-do-label .checkbox-fade .delete_todo {
    float: right;
    font-size: 24px;
    color: #ccc
}

.to-do-label .check-task {
    display: block
}

.to-do-label i {
    cursor: pointer
}

.done-task span,
.done-task .captions {
    color: #919aa3;
    text-decoration: line-through
}